body {
	background-color: #EEE;
	color: #200;
}

header .navbar , header .navbar a{
	background-color: #000;
	color: #EEE;
	padding: 0.5em;
	
}

.main-box {
    margin-top: 20px;
	padding: 20px;
	
}
.footer{
	text-align: center;
}